# macOS
.DS_Store

# Virtual Environments & Cache
.venv/
venv/
__pycache__/
*.py[cod]
*.pyc

# Streamlit Secrets
.streamlit/secrets.toml

# Heavy ML Models & Weights (CRITICAL)
*.safetensors
*.bin
3_agents/classification_agent/bert_brain/
